* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.welcome-label {
  text-align: center;
  margin-top: 50px;
}

.main-image {
  justify-content: center;
  place-items: center;
  margin-left: 23%;
  margin-right: auto;
  text-align: center;
  margin-top: 50px;
  object-fit: cover;
  filter: grayscale(50%) contrast(120%);
  box-shadow: 40px 40px 50px 0 rgba(0,0,0,.3);
  display: block;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  padding-top: 30px;
  gap: 30px 20px;
}

.card-price {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 20px;
}

.book-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-title {
  margin-right: 20px;
  max-width: 80%;
  white-space: normal;
}

